<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body data-no-turbolink>
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><a href="/">PLE</a> <%= current_ruc %></li>
      <li><%= link_to "Compras", purchases_path %></li>
      <li><%= link_to "Ventas", sales_path %></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><%= select_tag(:current_month, options_for_select(Months::MONTHS, selected: current_month)) %></li>
      <li><%= select_tag(:current_year, options_for_select(Years::YEARS, selected: current_year)) %></li>
      <li><%= select_tag(:current_ruc, options_for_select(Rucs::RUCS, selected: current_ruc), include_blank: "Elegir") %></li>
    </ul>
  </div>
</div>

<div class="row">
  <% flash.each do |name, msg| %>
      <div class="callout warning">
        <%= content_tag :div, msg, class: "alert alert-info" %>
      </div>
  <% end %>
</div>

<div class="row">
  <%= yield %>
</div>

</body>
</html>
